@use '../shared/assets/styles/abstracts/mixins' as *;
.container{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  z-index: 99;
}

.file-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  &__title{
    color: white;
    font-size: 1.3rem;
  }
  &__content{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @include GlassEffect();
    border-radius: 0.5rem;
    gap: 0.5rem;
    background: rgba(24, 24, 24, 0.531);
    &:last-child > .ant-collapse-content {
      border-radius: 0.5rem;
    }
  }
}


.files-container {
  width: 25%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__title__content {
    color: white;
    font-size: 1.3rem;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    &__file{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      @include GlassEffect();
      border-radius: 0.5rem;
      gap: 0.5rem;
      background: rgba(24, 24, 24, 0.531);
      &:last-child > .ant-collapse-content {
        border-radius: 0.5rem;
      }
      &:focus{
        background-color: rgba(71, 71, 71, 0.531);
      }
      &__name {
        color: white;
        overflow: hidden;
        cursor: pointer;
      }
      &__stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        &__added {
          background-color: green;
          font-size: 0.8rem;
          color: white;
          min-width: 1.5rem;

          border-radius: 0.3rem;
          text-align: center;
        }
        &__deleted {
          background-color:#F40009;
          font-size: 0.8rem;
          color: white;
          min-width: 1.5rem;

          border-radius: 0.3rem;
          text-align: center;
        }
      }
    }
  }
}
.code-diff {
  width: 100%;
  overflow: hidden;
  &__wrapper {
    width: 100%;
    animation: enter 0.3s ease-in-out;
  }
  .d2h-file-list-wrapper {
    display: none;
  }
  * {
    color: white;
    line-height: 2;
  }
  .d2h-dark-color-scheme {
    background: rgb(29, 29, 29) !important;
  }
  .d2h-del {
    background-color: rgba(253, 0, 46, 0.5) !important;
  }
  .d2h-ins {
    background-color: rgba(181, 255, 8, 0.5) !important;
  }
  .d2h-cntx {
    background-color: rgba(70, 185, 242, 0.25) !important;
  }
}
