@use '../../shared/assets/styles/abstracts/mixins' as *;

.no-file-selected {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  @include GlassEffect();
  border-radius: 0.5rem;
  gap: 0.5rem;
  background: rgba(24, 24, 24, 0.531);
  &:last-child > .ant-collapse-content {
    border-radius: 0.5rem;
  }
  &__image{
    width: 30%;
    
    margin-left: auto;
    margin-right: auto ;
  }
}
