@use '../../shared/assets/styles/abstracts/mixins' as *;
.review-button {
  width: 100%;
  display: flex;
    justify-content: flex-end;
 
}
.no-file-selected {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  @include GlassEffect();
  border-radius: 0.5rem;
  gap: 0.5rem;
  background: rgba(24, 24, 24, 0.531);
  &:last-child > .ant-collapse-content {
    border-radius: 0.5rem;
  }
  &__image {
    width: 10%;

    margin-left: auto;
    margin-right: auto;
  }
  &__message {
    color: white;
    font-weight: 900;
    font-size: 1.5rem;
  }
}
.editor__modal {
  width: 45rem !important;
  .anticon {
    svg {
      width: 1.8rem;
      height: 1.8rem;
      border: 1px solid #ffffff30;
      padding: 0.5rem;
      border-radius: 50%;
      path {
        fill: white;
      }
    }
  }
  .ant-modal-content {
    @include GlassEffect();
    background: rgba(45, 45, 45, 0.627);
    height: 80vh;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(249, 249, 249, 0.206);
  }
  .ant-modal-header {
    background: transparent !important;
  }
  .ant-modal-title {
    background: transparent;
    color: white !important;
    font-weight: 800 !important;
    font-size: 1.2rem !important;
  }
  .ant-modal-body {
    height: 98%;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
  }
  .ant-modal-footer {
    display: none;
  }
}

